build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch

# Common
common/.gradle/
common/build/
common/runs/

# Fabric
fabric/.gradle/
fabric/build/
fabric/runs/

# Forge
forge/.gradle/
forge/build/
forge/runs/

# Neoforge
neoforge/.gradle/
neoforge/build/
neoforge/runs/